.footer {
  padding: 60px 0px 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.footer__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8B8B8B;
  padding-bottom: 20px;
  border-bottom: 1px solid #424242;
  ;
}

.footer__container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__links {
  display: flex;
  gap: 20px;
}

.footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
}

@media (max-width:568px) {
  .footer {
    padding: 70px 0 20px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__container {
    padding-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
    color: #8B8B8B;
  }
}