@import url('./vendor/fonts.css');
@import url('./vendor/normalize.css');

p {
  margin: 0;
}

body {
  background: rgba(32, 32, 32, 1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #FFFFFF;
}

.section {
  padding: 18px 70px 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;
  max-width: 1280px;
  box-sizing: border-box;
}

.title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  width: 100%;
  border-bottom: 1px solid #DADADA;
  margin: 0;
}

.link {
  opacity: 1;
  transition: opacity 0.5s;
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
  cursor: pointer;
}

.button {
  opacity: 1;
  transition: opacity 0.5s;
}

.button:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
  cursor: pointer;
}


@media (max-width:768px) {
  .section {
    padding: 18px 30px 20px;
  }

  .container {
    padding: 0 30px;
  }
}

@media (max-width:568px) {
  .section {
    padding: 18px 14px 20px;
  }

  .container {
    padding: 0 14px;
  }

  .title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}